block-rule {
  border: 1px solid #ccc;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 7px 7px;
}

.btn {
  margin: 0px 7px;
}