<div>
  <button type="button" class="btn btn-outline-secondary" [disabled]="isSimulating" (click)="changeState()"> Change
    state </button>
  <label>Current State: {{cellGrid.currentState}}</label>

  <button type="button" class="btn btn-outline-success" [disabled]="isSimulating"
    (click)="startSimulation()">Start</button>
  <button type="button" class="btn btn-outline-warning" [disabled]="!isSimulating" (click)="stopSimulation()">
    Stop</button>
  <button type="button" class="btn btn-outline-danger" [disabled]="isSimulating" (click)="cellGrid.clearGrid()"> Clear
  </button>
  <button type="button" class="btn btn-outline-secondary" [disabled]="isSimulating" (click)="cellGrid.fillWithStatic()">
    Fill With Static </button>

  <label>Select rule set:</label>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="addRuleButton" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{ruleToSimulate}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="addRuleButton">
      <li><a *ngFor="let ruleName of rulesNames" class="dropdown-item" 
        (click)="selectRule(ruleName)">{{ruleName}}</a></li>
    </ul>
  </div>
</div>

<div id="sketch-holder" align="center"></div>