<div class="small-box">
  <table>
    <tr *ngFor="let row of FromBlock; let i = index">
      <td *ngFor="let cell of row; let j = index" (mousedown)="onChangeFromBlock(i, j)"
        [style.background-color]="getColor(cell)">
      </td>
    </tr>
  </table>
</div>
<div class="small-box">-></div>
<div class="small-box" id="to">
  <table>
    <tr *ngFor="let row of ToBlock; let i = index">
      <td *ngFor="let cell of row; let j = index" (mousedown)="onChangeToBlock(i, j)"
        [style.background-color]="getColor(cell)">
      </td>
    </tr>
  </table>
</div>