#sidebar{
  background-color: #ddd;
}

#editor{
  background-color: #eee;
  height: calc(100vh);
}

.rule-button{
  margin: 3px 0px;
  width: 100px;
}

.btn-group-vertical{
  align-content: center;
}
