<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col">
      <div>Moore rules:</div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-secondary side-list-button" *ngFor="let ruleName of mooreRuleSetsNames"
          [value]="ruleName" (click)="selectRule(ruleName)">
          {{ruleName}}
        </button>
        <button type="button" class="btn btn-outline-success side-list-button" (click)="addMooreRuleSet()">Add rule
          set</button>
      </div>
      <div>Block rules:</div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-secondary side-list-button" *ngFor="let ruleName of blockRuleSetsNames"
          [value]="ruleName" (click)="selectRule(ruleName)">
          {{ruleName}}
        </button>
        <button type="button" class="btn btn-outline-success side-list-button" (click)="addBlockRuleSet()">Add rule
          set</button>
      </div>
    </div>

    <div id="editor" class="col-8">
      <label>Current rule:</label>
      <input type="text" class="small-box" [(ngModel)]="inputRuleSetName">
      <button type="button" class="btn btn-outline-success small-box" (click)="saveRuleSet()">Save</button>
      <button type="button" class="btn btn-outline-danger small-box" (click)="deleteRuleSet()">Delete</button>
      <moore-editor *ngIf="currentRuleSet.isMoore" [RulesSet]="currentRuleSet"></moore-editor>
      <block-editor *ngIf="!currentRuleSet.isMoore" [RulesSet]="currentRuleSet"></block-editor>
    </div>

    <div id="color-panel" class="col-2">
      <div>States to colors:</div>
      <div class="btn-group-vertical">
        <ng-container *ngFor="let state of ColorMap.States">
          <input type="radio" class="btn-check" id="btnradio{{state}}" name="state_radio" [checked]="state == ColorMap.currentState" (click)="selectState(state)">
          <label class="btn btn-outline-secondary side-list-button" for="btnradio{{state}}">
            <input class="inp small-box" [value]="state" [disabled]="true">:
            <input ejs-colorpicker type="color" [value]="ColorMap.getColor(state)"
              (change)="updateColorMap($event, state)" />
            <button type="button" class="btn btn-sm btn-outline-danger small-box">
              <i class="fa fa-trash"></i>
            </button>
          </label>
        </ng-container>
        <input type="radio" class="btn-check" id="btnradio-1" name="state_radio" [checked]="ColorMap.currentState === -1" (click)="selectState(-1)">
          <label class="btn btn-outline-secondary side-list-button" for="btnradio-1">
            <input class="inp small-box" [value]="-1" [disabled]="true">:
            <input ejs-colorpicker type="color" [value]="ColorMap.getColor(-1)" (change)="updateDefaultColor($event)" />
            <button type="button" class="btn btn-sm btn-outline-danger small-box" [disabled]="true">
              <i class="fa fa-trash"></i>
            </button>
          </label>
        <button type="button" class="btn btn-outline-success side-list-button" (click)="addState()">Add state</button>
      </div>
    </div>
  </div>
</div>