/* For color picker */
@import "../../../node_modules/@syncfusion/ej2-base/styles/bootstrap.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css";

#sidebar{
  background-color: #f8f9fa;
  border-right:0.5px solid #BDBDBDFF;
}

#editor{
  background-color: #f8f9fa;
  height: calc(100vh - 56px);
}

#color-panel{
  background-color: #f8f9fa;
  border-left:0.5px solid #BDBDBDFF;
}

.side-list-button{
  margin: 1px 0px !important; 
}

.btn-group-vertical{
  align-content: center;
  width: 100%;
}
