<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-secondary rule-button" *ngFor="let ruleName of ruleNames"
          [value]="ruleName" (click)="selectRule(ruleName)">
          {{ruleName}}
        </button>
      </div>
    </div>

    <div id="editor" class="col-10">
      <label>Current rule: {{currentRuleName}}</label>
      <moore-editor *ngIf="isMooreMode" [RulesSet]="currentMooreRule"></moore-editor>
      <block-editor *ngIf="!isMooreMode" [rulesSet]="currentBlockRule" (saveRule)="saveBlockRule()"></block-editor>
    </div>
  </div>
</div>