button {
  font-size: 15px !important;
  margin: 3px 3px;
}

label {
  font-size: 15px !important;
  margin: 3px 3px;
}

select {
  font-size: 15px !important;
  margin: 3px 3px;
}

div{
  margin: 10px;
  font-size: 15px;
}