button {
  margin: 16px 8px;
}

a {
  margin: 16px 8px;
} 

table td {
  width:10px;
  height:10px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:0.5px solid rgb(179, 177, 177);
}